{% extends 'base.html' %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'home_electric/stylesheet/own.css' %} " >
{% endblock %}

{% block title %}
    Own Bill
{% endblock %}

{% block title2 %}
    Own Bill
{% endblock %}

{% block quote %}
    Pay! Pay! Pay!
{% endblock %}

{% block content %}


    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Reading</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>

        {% for i in tmp %}
            <tr>
                <td>{{ i.date }}</td>
                <td>{{ i.reading }}</td>
                <td>{{ i.cost }}</td>
            </tr>
        {% endfor %}

            <tr>
                <td>    Total   </td>
                <td>    NA      </td>
                <td>    {{ total }}</td>
            </tr>

        </tbody>
    </table>

{% endblock %}
