{% extends 'base.html' %}

{% load static  %}

{% block title %}
    Room Number {{ request.session.room_number }}
{% endblock %}

{% block title2 %}
    Room Number {{ request.session.room_number }}
    {{ test }}
{% endblock %}

{% block content %}

    <style>
        .blk{

        }

    </style>

    <pre><div class="well well-lg blk"> Previous Dues  {{ dues }}</div></pre>
    <pre><div class="well well-lg blk"> Rent           {{ rent }}  </div></pre>
    <pre><div class="well well-lg blk"> Electric Bill  {{ electric }} </div></pre>
    <pre><div class="well well-lg blk"> Total Bill {{ total }} </div></pre>





{% endblock %}