{% extends 'base.html' %}
{% load static %}
{% block title %}
    Bamba Rent Portal
{% endblock %}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'home_electric/stylesheet/home.css' %}">
    <script type="text/javascript" src="{% static 'home_electric/javascript/home.js' %}"></script>
{% endblock %}

{% block title2 %}
     Bamba Rent Portal
{% endblock %}

{% block quote %}
    This is your house, so your wish to make it heaven or hell.
{% endblock %}

{% block content %}


    {% for i in i|rjust:8 %}
        <div class="room_no_container">
            <div class="well well-lg blk"> Room number {{ forloop.counter }} </div>
            <form class="form" action="{% url 'accounts:room' %} " method="post" style="display: none">
                {% csrf_token %}
                <input type="number" name="hidden_room" value="{{ forloop.counter }}">
                <input class="submit_hidden_form" type="submit" value="submit">
            </form>
            <div class="room_no" style="display: none;">{{ forloop.counter }} </div>
        </div>
    {% endfor %}
    <br><br><br>

{% endblock %}